#main {
    margin: 15px;
}

.main {
    margin: 0px;
    padding: 0px;
}

.feed, .info {
    flex: 1;
}

.feed>img {
    background-color: gray;
    /* UNCOMMENT THE next line if you installed your camera upside down like me
    /* transform: rotate(180deg); */
}

.unit {
    font-size: 12px;
    line-height: .05;
}

.left, .right {    
    flex-direction: column;
    padding: 10px;
}

.container {
    display: flex;
}

.box {
    flex: 1;
}

.controls {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 2px; 
    width: 300px; 
    height: 300px; 
    margin: auto;
}

.stat {
    text-align: center;
}

.round-button {
    width: 90px;
    height: 90px;
    border-radius: 50%;
    background-color: #e79d3c;
    border: none;
    color: white; 
    position: relative;
    overflow: hidden;
}

.arrow { /* down */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(45deg);
    width: 20px;
    height: 20px;
    border: solid white;
    border-width: 0 3px 3px 0;
    padding: 3px;
    background-color: transparent;
}
.up { 
    transform: translate(-50%, -50%) rotate(-135deg);
}
.leftarr { 
    transform: translate(-50%, -50%) rotate(135deg);
}
.rightarr { 
    transform: translate(-50%, -50%) rotate(-45deg);
}

.info {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 100px; 
    margin: auto;
}

.textcontainer {
    position: absolute;
    top: 50%;
    left: 50%;
    height: 70%;
    width: 70%;
    border-radius: 50%;
    transform: translate(-50%, -50%);
    font-size: 20px;
    background-color: white;
    font-weight: bold;
    color: #333; /* Text color */
}
  
.text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 20px;
    font-weight: bold;
    color: #333; /* Text color */
}

.circular-progress {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.inner-circle {
    position: absolute;
    top: 50%;
    left: 50%;
    height: 75px;
    width: 75px;
    border-radius: 50%;
    transform: translate(-50%, -50%);
    font-size: 20px;
    background-color: white;
    font-weight: bold;
    color: #333; /* Text color */
}

.percentage {
    position: absolute;
    top: 50%;
    left: 50%;
    line-height: 15px;
    transform: translate(-50%, -50%);
    font-size: 20px;
    font-weight: bold;
    color: #333; /* Text color */
}